/* ================================= 
  WEB FONTS
==================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* ================================= 
  COLOR PALETTE
==================================== */
/* ================================= 
  ELEMENT STYLES
==================================== */
* {
  box-sizing: border-box; }

body {
  color: #3F4343;
  background: #E9E9E9;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* FORM & BUTTON STYLES -------- */
  /* ================================= 
    LAYOUT & PAGE STYLES
  ==================================== */
  /* CLOCK ----------- */
  /* ================================= 
    MEDIA QUERIES
  ==================================== */ }
  body ::-moz-selection {
    background: rgba(255, 231, 0, 0.58); }
  body ::selection {
    background: rgba(255, 231, 0, 0.58); }
  body p {
    font-size: 2em; }
    body p a {
      text-decoration: underline;
      border: none;
      color: #221D54;
      background-color: rgba(255, 231, 0, 0.16);
      transition: ease-in-out 0.5s; }
      body p a:hover {
        background-color: rgba(255, 231, 0, 0.35); }
  body ul {
    list-style-type: none; }
  body hr {
    border: 0;
    height: 0;
    margin: 2.3em 0 2em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  body input {
    margin-bottom: 1em;
    width: 50px;
    text-align: center;
    font-size: 2em;
    border: none;
    background-color: inherit;
    outline: none;
    border-bottom: 2px solid black; }
  body input[type=number]::-webkit-inner-spin-button,
  body input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  body .prompt {
    font-size: 2em; }
  body form {
    margin-top: 2em;
    text-align: center; }
  body .container {
    width: 100%;
    max-width: 810px;
    padding-bottom: 2em;
    margin: 0 auto;
    background: #E9E9E9;
    border-radius: 0em;
    overflow: hidden; }
  body header {
    background: #EDEFF0; }
  body .main-content {
    padding: 2em 2em; }
  body .group:after {
    content: "";
    display: table;
    clear: both; }
  body .hero-circle {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    border: 3px solid black;
    border-radius: 50%;
    -moz-box-shadow: 0px 10px 24px #646464;
    -webkit-box-shadow: 0px 10px 24px #646464;
    box-shadow: 0px 10px 24px #646464; }
  body .hero-face {
    width: 100%;
    height: 100%; }
  body .hero-face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: black;
    border-radius: 6px;
    content: "";
    display: block; }
  body .hero-hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 -3px -25%;
    padding: 3px 0 3px 25%;
    background: black;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 4px 0 0 4px; }
  body .hero-minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -3px 0;
    padding: 40% 3px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 3px 3px 0 0; }
  body .hero-second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  @media (min-width: 0) and (max-width: 809px) {
    body body {
      padding-top: .8em; }
      body body h2 {
        text-align: center; }
      body body .group {
        text-align: justify; }
      body body input {
        display: block;
        width: 100%;
        padding-bottom: 1em; } }
  @media (min-width: 810px) {
    body #root {
      padding-bottom: 1em; }
    body .container {
      margin-top: 1em;
      width: 100%; }
    body .group {
      margin: 0 auto;
      text-align: justify; }
    body .project {
      float: left; }
    body .media > div {
      width: 85.1%;
      margin-left: 1.5em; }
    body .project {
      width: 48.73%;
      margin-bottom: 1em;
      border: 1px solid #3F4343;
      border-radius: 5px;
      background-color: white; }
      body .project h3 {
        font-size: 1.5em; }
      body .project p {
        font-size: 1em;
        margin: 1em; }
    body .project + .project {
      margin-left: 2.54%; }
    body .project:nth-child(2n+3) {
      clear: left;
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
