/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  COLOR PALETTE
==================================== */

$dark-blue: #284B60;
$light-blue: #3B5C70;
$text-grey: #3F4343;
$pale-grey: #EDEFF0;
$background-grey: #E9E9E9;

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}

body {
  color: $text-grey;
  background: $background-grey;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  ::-moz-selection { background: rgba(255, 231, 0, 0.58); }
  ::selection { background: rgba(255, 231, 0, 0.58); }

p {
  font-size: 2em;
  a {
    text-decoration: underline;
    border: none;
  }
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

input {
  margin-bottom: 1em;
  width: 50px;
  text-align: center;
  font-size: 2em;
  border: none;
  background-color: inherit;
  outline: none;
  border-bottom: 2px solid black
  // transition: ease-in-out 0.5s;
  // &:hover {
  //   background-color: white;
  //   border-radius: 50%;
  //   border: 2px solid black;
  // }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



.prompt {
  font-size: 2em;
}

form {
  margin-top: 2em;
  text-align: center;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 100%;
  max-width: 810px;
  padding-bottom: 2em;
  margin: 0 auto;
  background: $background-grey;
  border-radius: 0em;
  // box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: $pale-grey;
}
.main-content {
  padding: 2em 2em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* CLOCK ----------- */

.hero-circle {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  border: 3px solid black;
  border-radius: 50%;
  -moz-box-shadow: 0px 10px 24px rgb(100,100,100);
  -webkit-box-shadow: 0px 10px 24px rgb(100,100,100);
  box-shadow: 0px 10px 24px rgb(100,100,100);
}

.hero-face {
  width: 100%;
  height: 100%;
}

.hero-face:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: black;
  border-radius: 6px;
  content: "";
  display: block;
}

.hero-hour {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 -3px -25%;
  padding: 3px 0 3px 25%;
  background: black;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-radius: 4px 0 0 4px;
}

.hero-minute {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -3px 0;
  padding: 40% 3px 0;
  background: black;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  border-radius: 3px 3px 0 0;
}

.hero-second {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
  background: black;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 809px) { 

  body {
    padding-top: .8em;
    
    h2 {
      text-align: center;
    }

    .group {
      text-align: justify;
    }
    
    input {
      display: block;
      width: 100%;
      padding-bottom: 1em;
    }
  }
}
  @media (min-width: 810px) {

  #root {
    padding-bottom: 1em;
  }

  .container {
    margin-top: 1em;
    width: 100%;
  }

  .group {
    margin: 0 auto;
    text-align: justify;
  }

  .project {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .project {
    width: 48.73%;
    margin-bottom: 1em;
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      margin: 1em;
    }
    border: 1px solid $text-grey;
    border-radius: 5px;
    background-color: white;
  }
  .project + .project {
    margin-left: 2.54%;
  }
  .project:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }

}
}