/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  COLOR PALETTE
==================================== */

$dark-blue: #284B60;
$light-blue: #3B5C70;
$text-grey: #576366;
$pale-grey: #EDEFF0;
$off-white: #FFFEFD;

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}

body {
  color: $text-grey;
  // background: $light-blue;
  background: $off-white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  h1,
  h2,
  ul {
    margin: 0;
    padding: 0;
}
h2 {
  display: none;
  // color: $dark-blue;
  // font-size: 1.6em;
  // margin-bottom: 1.25em;
  // text-align: center;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
  text-align: justify;
  a {
    text-decoration: underline;
    color: #2E3263;
    border: none;
  }
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 100%;
  max-width: 810px;
  padding-bottom: 2em;
  margin: 0 auto;
  background: $off-white;
  border-radius: 0em;
  // box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: $pale-grey;
}
.main-content {
  padding: 2em 2em;
}

.project {
  margin: 0 auto;
  text-align: center;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.project-img {
  border-radius: .3em;
  width: 70%;
  transition: ease-in-out 0.1s;
}

.project-img:hover {
  opacity: 0.7;
}

.project-title {
  color: $text-grey;
  text-decoration: underline;
}


.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.main-nav {
  border-radius: 1em;

  a {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  transition: .2s;
  height: 3em;
  line-height: 3em;
  text-decoration: none;
    .linkedin,
    .GitHub {
      margin-top: 0.5em;
      width: 150px;
      height: 40px;
    }
  }
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: $dark-blue;
  border: none;
}

.main-nav li {
  border-bottom: 1px solid $dark-blue;
  font-size: 1.2em;
}

/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
  text-decoration: none;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: $dark-blue;
}

/* ICONS -------- */

.icn-logo {
  background: $dark-blue;
  color: #fff;
  i {
    font-size: 2em;
    line-height: 1.8em;
  }
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 809px) { 

  body {
    padding-top: .8em;
  }

  h2 {
    text-align: center;
  }

  .group {
    text-align: justify;
  }

  .project {
    p {
      margin: 0 auto;    
    }
  }

   .icn-logo {
     display: block;
     width: 100%;
     text-align: justify;
     padding-bottom: 4px;
   }

   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
}
@media (min-width: 810px) {

  #root {
    padding-bottom: 1em;
  }

  .container {
    margin-top: 1em;
    width: 100%;
    // border-radius: .5em;
  }

  .group {
    margin: 0 auto;
    text-align: justify;
  }

  body {
    padding-top: 3em;

    

  p {
    font-size: 1.3em;
  }

  }

  .media img,
  .media > div,
  .project {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .project {
    width: 48.73%;
    margin-bottom: 1.5em;
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      margin: 1em;
    }
  }
  .project + .project {
    margin-left: 2.54%;
  }
  .project:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }

  .project-img {
    height: 250px;
    width: 250px;
    -moz-box-shadow: 0px 12px 12px rgb(100,100,100);
    -webkit-box-shadow: 0px 12px 12px rgb(100,100,100);
    box-shadow: 0px 12px 12px rgb(100,100,100);
  }


  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
  }
  header,
  .main-nav {
    -moz-box-shadow: 0px 2px 2px rgb(100,100,100);
    -webkit-box-shadow: 0px 2px 2px rgb(100,100,100);
    box-shadow: 0px 2px 2px rgb(100,100,100);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
  }

  .main-nav li {
    font-size: 0.95em;
    width: 162px;
    border: none;
    border-radius: 5px;
    // background-color: $pale-grey;
  }

  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    font-size: 0.95em;
    padding: 1.25em 1.5em;
    height: 4em;
    line-height: 1.8em;

    .linkedin,
    .GitHub {
      margin-top: 0;
      width: 90px;
      height: 25px;
    }
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}
}